body {
  background: 
}
/* .maincontent {
  padding: 3rem 1.5rem;
  text-align: center;
} */

iframe {
display:block;
  align:center;
}

main {
  padding: 3rem 1.5rem;
  text-align: center;
  font-family: 'Syne Mono', monospace;

}

/* h1 {
  font-family: 'Syne Mono', monospace;
} */

#logo{
  padding-top:2%;
}


p {
  padding-top: 2%;
}

.player {
  padding-top: 2%;
}
